
.center_wrapper {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}
.container_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .button1 {
    align-self: flex-start; /* Đặt nút "Đăng ký" bên trái */
    margin: 10px;
    padding: 10px 20px;
    background-color: #ff0000; /* Màu nền của nút */
    color: #fff; /* Màu chữ của nút */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hiệu ứng hover */
  }
  
  .button1:hover {
    background-color: #f17814; /* Màu nền của nút khi hover */
  }
  
  .custom_form input[type="text"],
  .custom_form input[type="password"],
  .custom_form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Tính toán kích thước bao gồm cả border và padding */
  }
  
  .custom_form button[type="submit"] {
    width: 100%; /* Sử dụng đầy đủ chiều rộng của form */
    margin-top: 10px;
    background-color: #2487f0; /* Màu nền của nút gửi */
    color: #fff; /* Màu chữ của nút gửi */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hiệu ứng hover */
  }
  
  .custom_form button[type="submit"]:hover {
    background-color: #0056b3; /* Màu nền của nút gửi khi hover */
  }
  
  .overlay_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    max-width: 350px;
    min-width: 280px;
    width: 95%;
  }
  
  .overlay_content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 20px; /* Đảm bảo form có khoảng cách nhất định khi co lại */
  }
  
