.containerProducts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-shadow: var(--boxShadow-color);
  box-sizing: border-box;
  padding: 0 10px;
  gap: 20px;
}

.containerProductsLayer2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.containerForm2Layer{
  flex: 1;
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.containerGuaranteeLayer,
.containerInventoryLayer {
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.itemGuaranteeHeader,
.itemInventoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(250, 250, 250);
  white-space: nowrap;
}
.itemGuaranteeHeaderName,
.itemGuaranteeHeaderIcon,
.itemInventoryHeaderName,
.itemInventoryHeaderIcon {
  padding: 10px;
  box-sizing: border-box;
}
.itemGuaranteeHeaderIcon,
.itemInventoryHeaderIcon {
  cursor: pointer;
}

.itemGuaranteeDropList,
.itemInventoryDropList {
  position: relative;
  display: flex;
}

.itemGuaranteeDropListLayer,
.itemInventoryDropListLayer {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 1px solid #ccc;
  background-color: white;
}
.itemGuaranteeDropListLayer span,
.itemInventoryDropListLayer span {
  display: flex;
  flex-direction: column;
}

.containerProductsLayer3 {
  background-color: white;
  width: 100%;
}

.custom_formGuaranteeProducts,
.custom_formInventoryProducts {
  padding: 10px;
  margin-top: 10px;
}

.custom_formGuaranteeProducts fieldset,
.custom_formInventoryProducts fieldset{
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0 40px 0 20px;
  box-sizing: border-box;
  margin: 0;
  gap: 10px;
  flex-wrap: wrap;
}
.custom_formGuaranteeProducts fieldset div,
.custom_formInventoryProducts fieldset div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  white-space: nowrap;
}
.custom_formGuaranteeProducts legend,
.custom_formInventoryProducts legend {
  display: none;
}
.custom_formGuaranteeProducts input,
.custom_formGuaranteeProducts select,
.custom_formInventoryProducts input,
.custom_formInventoryProducts select {
  max-width: 400px;
  width: 45vw;         
  height: 35px;           
  padding: 5px;           
  box-sizing: border-box;  
}
.custom_formInventoryProducts button,
.custom_formGuaranteeProducts button {
  background-color: rgb(76, 175, 80); 
  border: none;             
  color: white;          
  padding: 10px 20px;      
  text-decoration: none;    
  display: inline-block;          
  cursor: pointer;         
  border-radius: 5px;  
  font-size: 15px;   
  margin-left: 10px; 
}

.custom_formInventoryProducts button:active,
.custom_formGuaranteeProducts button:active {
  background-color: #565555;
}
