/* This is styles css for loading Pages */
/* You can use all pages by using import param */

.containerText {
  display: flex;
  justify-content: center;  
  align-items: center;    
  position: fixed;
  right: 0;
  top: 0;
  left: 0;         
  bottom: 0;        
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #322f2f;
  z-index: 999;
  font-size: 20px;
  height: 100vh;
  width: 100vw; 
}

.loadingText {
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0; /* Bắt đầu với độ mờ 0 */
  }
  50% {
    opacity: 1; /* Độ mờ 100% */
  }
  100% {
    opacity: 0; /* Kết thúc với độ mờ 0 */
  }
}
