/* This is styles css for loading Pages */
/* You can use all pages by using import param */

.containerText {
  display: flex;
  justify-content: center;  
  align-items: center;    
  position: fixed;
  right: 0;
  top: 0;
  left: 0;         
  bottom: 0;        
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #322f2f;
  z-index: 999;
  font-size: 20px;
  height: 100vh;
  width: 100vw; 
}

.loadingText {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logoImage {
  width: 10%;
  height: 10%;
  z-index: 1;
}


.outerCircle {
  position: absolute;
  top: 50%; /* Căn giữa dọc */
  left: 50%; /* Căn giữa ngang */
  width: 80px; /* Kích thước của vòng tròn */
  height: 80px; /* Kích thước của vòng tròn */
  border: 4px solid rgba(0, 0, 0, 0.1); /* Màu sắc và kích thước của vòng */
  border-top-color: rgba(75, 192, 192, 1); /* Màu sắc của phần trên */
  border-radius: 50%; /* Tạo hình tròn */
  animation: spinOuterCircle 3s linear infinite; /* Hiệu ứng xoay */
  transform: translate(-50%, -50%); /* Căn giữa vòng tròn */
}

@keyframes spinOuterCircle {
  from {
    transform: translate(-50%, -50%) rotate(0deg); /* Quay 0 độ */
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg); /* Quay 360 độ */
  }
}
