:root {
  --primary-color: #1196f0;
  --secondary-color: #2ecc71;
  --text-colors: #252525;
  --background-color: white;
  --tab-header-bg: #ecf0f1;
  --tab-header-active-bg: #bdc3c7;
  --button-bg: var(--background-color);
  --button-hover-bg: #2980b9;
  --button-text-color: var(--text-colors);
}

.taskbar-container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: white;
  color: var(--button-text-color);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Đảm bảo không có phần tử con nào vượt quá */
  width: 100%; 
  box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
  gap: 20%;
}
@media screen and (max-width: 720px) {
  .taskbar-container {
    gap: 2%;
  }
}
.taskbarContainer {
  display: flex;
  flex-grow: 1; /* Đảm bảo phần tử này chiếm đủ không gian còn lại */
  max-width: 100%; 
  overflow: hidden; 
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
  .taskbarContainer {
    max-width: 100%; 
  }
}
.taskbarItems {
  white-space: nowrap;
  border-radius: 5px;
  box-sizing: border-box;
}
.taskbarLink {
  padding: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #252525;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 0 #fff;
  font-weight: 400;
  text-decoration: none; 
  border-radius: 5px;
}
.taskbarLink:hover {
  background-color: #dae0e4;
}
.taskbarLogo {
  flex-shrink: 0;
  max-width: 35px;
}
.taskbarWarehouseLogo{
  max-width: 100%;
  height: auto;
}
.taskbarLabel {
  /*none*/
  display: block;
  max-width: 100%;
}

/*Second list in Taskbar*/
.extendTaskbarList {
  display: flex;
  flex-grow: 1; /* Đảm bảo phần tử này chiếm đủ không gian còn lại */
  max-width: 100%; 
  height: auto;
  display: flex;
  flex-grow: 1; 
  overflow: hidden; 
  justify-content: space-between; 
  max-width: 30%;
}
@media screen and (max-width: 900px) {
  .extendTaskbarList {
    min-width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .extendTaskbarList {
    min-width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .extendTaskbarList {
    min-width: 60%;
  }
}
.extendTaskbarListContainer {
  display: flex;
  flex-grow: 1; /* Đảm bảo phần tử này chiếm đủ không gian còn lại */
  max-width: 100%; 
  overflow: hidden; 
  justify-content: space-between;
  color: #252525;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 0 #fff;
  font-weight: 400;
  text-decoration: none; 
  margin-right: 5px;
  white-space: nowrap;
  box-sizing: border-box;
}
.supportInTaskbarList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5vw;
  gap: 2px;
}
@media screen and (max-width: 720px) {
  .supportInTaskbarList {
    padding: 5px;
  }
}
.supportInTaskbarList:hover {
  background-color: #dae0e4;
}

.dropdownContainer {
  display: none;
  margin-top: 180px;
  position: absolute;
  width: 15vw;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  text-wrap: wrap;
}
@media screen and (max-width: 1050px) {
  .dropdownContainer {
    margin-top: 180px;
  }
}
@media screen and (max-width: 1000px) {
  .dropdownContainer {
    margin-top: 175px;
  }
}
@media screen and (max-width: 900px) {
  .dropdownContainer {
    margin-top: 175px;
    width: 30vw;
  }
}
@media screen and (max-width: 450px) {
  .dropdownContainer {
    margin-top: 175px;
    width: 30vw;
  }
}
@media screen and (max-width: 445px) {
  .dropdownContainer {
    margin-top: 175px;
    width: 30vw;
  }
}
@media screen and (max-width: 442px) {
  .dropdownContainer {
    margin-top: 190px;
    width: 30vw;
  }
}
@media screen and (max-width: 394px) {
  .dropdownContainer {
    margin-top: 205px;
    width: 30vw;
  }
}


.supportInTaskbarList:hover .dropdownContainer {
  display: block;
}
.dropdownListItem li {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #252525;
  border-radius: 5px;
}

.dropdownListItem li:hover {
  background-color: #f1f1f1;
}

/* Vùng chứa sidebar */
.taskViewAccount {
  display: none;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -30vw;
  width: 30vw; 
  max-width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebar.visible {
  right: 0;
}
.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 2vw;
  border-bottom: 1px solid #ccc; 
}
.closeButton {
  border: none;
  border-radius: 5px;
  color: white;
  background: rgb(243, 5, 5);
  padding: 0.3vw 1vw;
  cursor: pointer;
}
.sidebarContent {
  padding: 2vw;
}
.sidebarContent h4 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 12px;
}
.sidebarContent ul {
  list-style: none;
  padding: 0;
  font-size: 12px;
}
.logoutButtonTaskbar {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 0;
  text-wrap: wrap;
  gap: 5px;
}
.logoutButtonTaskbar:hover {
  background-color: #f1f1f1;
}

