/* SubTaskbar.css */
:root {
  --primary-color: #0070f4;
  --secondary-color: #2ecc71;
  --text-color: white;
  --background-color: #f5f5f5;
  --tab-header-bg: #ecf0f1;
  --tab-header-active-bg: #bdc3c7;
  --button-bg: var(--primary-color);
  --button-hover-bg: #2980b9;
  --items-hover-bg: #005ac3;
  --button-text-color: #fff;
}
.subtaskbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 5px;
  border-bottom: 0.2px solid #d8d4d4;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Thêm bóng chân */

}

.subtaskbarItems {
  color: var( --text-color);
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.4vw;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  flex-wrap: wrap;
  gap: 0.5vw;
}
@media screen and (max-width: 1000px) {
  .subtaskbarItems {
    font-size: 12px;
  }
}

.subtaskbarItems:hover {
  background-color: var(--items-hover-bg);
  cursor: pointer;
}

.subtaskbarIcons {
  flex: 1;
}