:root {
  --primary-color: #1196f0;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --background-color: #f5f5f5;
  --tab-header-bg: #ecf0f1;
  --tab-header-active-bg: #bdc3c7;
  --button-bg: var(--primary-color);
  --button-hover-bg: #2980b9;
  --button-text-color: #fff;
}

.taskbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Thêm shadow nhẹ cho taskbar */
}

.taskbar-container button {
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
}

.taskbar-container button:hover {
  background-color: var(--button-hover-bg);
}

.taskbar-items a {
  color: var(--button-text-color);
  text-decoration: none;
  font-size: 14px;
  margin: 0 10px; /* Tạo khoảng cách giữa các mục */
  transition: color 0.3s ease; /* Hiệu ứng chuyển đổi màu chữ */
}

.taskbar-items a:hover {
  color: var(--secondary-color); /* Thay đổi màu chữ khi hover */
  text-decoration: underline;
}
