body {
  margin: 0;
  overflow: auto;
  height: 105vh;
}
.center_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: hidden;
}
.overlay_container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  width: 60%;
  min-width: 350px;
  max-height: 60vh;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
}
.container_form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  min-width: 280px;
  height: 100%;
  box-sizing: border-box;
}
.closeAccountDetailsBtn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3vw 1vw;
  z-index: 10;
}

.custom_formInfoAccount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.custom_formInfoAccount .form-group {
  display: flex;
  justify-content: space-between;
}
.custom_formInfoAccount fieldset{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  padding: 0;
  margin: 0;
  gap: 10px;
  flex-wrap: wrap;
  white-space: nowrap;
}
@media (max-width: 1100px) {
  .custom_formInfoAccount fieldset {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.custom_formInfoAccount fieldset div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom_formInfoAccount legend {
  display: none;
}
.custom_formInfoAccount input,
.custom_formInfoAccount select {
  max-width: 200px;
  width: 50vw;         
  height: 35px;           
  padding: 5px;           
  box-sizing: border-box;  
}
.custom_formInfoAccount button {
  padding: 10px 25px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  color: white;
  background-color: rgb(38, 166, 154);
}
.custom_formInfoAccount button:active {
  background-color: var(--activeButtonBackground-color);
}
